@import '@/sass/master';

.logoWrapper {
  width: fit-content;

  img {
    height: 100%;
    cursor: pointer;
    transition: map-get($transition, default);

    &:hover {
      transform: scale(1.1);
    }
  }

  &.small {
    img {
      width: 10rem;
    }
  }

  &.medium {
    img {
      width: 15rem;
    }
  }

  &.large {
    img {
      width: 25rem;
    }
  }
}
